<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978476353374-5vmh0o07s4lk9aaqshqsve9nl5rjep8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978476353374-5vmh0o07s4lk9aaqshqsve9nl5rjep8u</string>
	<key>API_KEY</key>
	<string>AIzaSyAfbH5GZnQNr-BMenpzTl1t_umdE318nyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>978476353374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.airdao.app</string>
	<key>PROJECT_ID</key>
	<string>airdao-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>airdao-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978476353374:ios:143e0484854195aa5531cf</string>
</dict>
</plist>